<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aterrissar</title>
    <link rel="shortcut icon"
        href="https://media.licdn.com/dms/image/v2/C4E0BAQFiqxB0tsTy1g/company-logo_200_200/company-logo_200_200/0/1662660090313?e=2147483647&v=beta&t=gFK_cLcLullIqcvVf2jSEPV68Mx2P5ZwxkVd_kFWhIM"
        type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    
    <header class="cabecalho">
        <a href="/">Aterrissar</a>
        <nav class="links">
            <a href="/viagens">Viagens</a> 
            <a href="/favoritos">Favoritos</a>
            {% if session['user'] %}
                <a href="/profile">Meu Perfil</a>
            {% else %}
                <a href="/conectar">Conectar</a>
            {% endif %}
        </nav>
    </header>
    <div class="risco"></div>
    
    {% block base %}
    {% endblock %}

    <footer>
        <p>Projeto feito por alunos do Centro Vocacional de Tecnologia e Inovação.</p>
        <p>© 2024 CVTI</p>
    </footer>
</body>

</html>