{% extends 'base.html' %}
{% block base %}

<style>
    .pfpgrande {
        height: 100px;
    }

    .favs {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .perfilnaolog {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .alterarft {
        display: flex;
        flex-direction: column;
    }

    .uuid {
        font-size: 11px;
        color: gray;
    }

    .conectarbtn {
        background-color: rgb(28, 69, 255);
        color: white;
        border-radius: 25px;
        height: 50px;
        width: 550px;
        border: none;
        font-size: 8px;
        cursor: pointer;
    }
    .pnl{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 70px;
    }
    .cadeado{
        height: 120px;
    }
    .h1fav{
        width: 760px;
    }
    .vazio{
        height: 37vh;
    }
</style>
<br>

{% if session['nome'] %}
<div class="favs">
    <div>
        <h1>Favoritos</h1>
    </div>
</div>
{% else %}
<div class="perfilnaolog">
    <div class="pnl">
        <div class="h1fav">
            <h1>Favoritos</h1>
        </div>
        <img class="cadeado" src=" {{ url_for('static',filename='images/cadeado.png')}} " alt="cadeado">
        <a href="/conectar"><button class="conectarbtn">
                <h1>Fazer login ou criar uma conta</h1>
            </button></a>
        <br>
    </div>
</div>
<div class="vazio"></div>
{% endif %}
<br>
{% endblock %}