<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turismos</title>
</head>

<body>

    <form action="/creating" method="post">
        Nome: <input type="text" name="nome">
        Email: <input type="email" name="email">
        Celular: <input type="tel" name="celular">
        Senha: <input type="password" name="senha">
        <button type="submit">Criar conta</button>
    </form>
    <a href="/login">Já tenho uma conta</a>

</body>

</html>